tests/
*.md
__pycache__/
*.py[cod]
*$py.class
*.egg
.coverage
.coverage.*
.cache
.pytest_cache/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.cfg
pytest.*
Dockerfile
Makefile
.editorconfig
.dockerignore
.gitignore
.git
imgs/
LICENSE
.vscode/
.travis.yml
imgs/
.history/
kubernetes/